<!DOCTYPE html>
<html>
<head>
  <title>Modificar Contrase침a</title>
</head>
<body>
  <h1>Solicitud de modificaci칩n de contrase침a</h1>
  <p>Haga clic o copie y pegue en el navegador el siguiente link para modificar su contrase침a:</p>
  <a href="{{resetLink}}">{{resetLink}}</a>
</body>
</html>
