<!DOCTYPE html>
<html>
<head>
  <title>Contraseña modificada</title>
</head>
<body>
  <h1>Hola {{fullname}}, su contraseña ha sido modificada!</h1>
  <p> Si realizó este cambio, no se requiere ninguna acción adicional.</p>
  <p>Si no ha solicitado este cambio, por favor <a href="{{supportUrl}}">contáctenos</a> inmediatamente.</p>
  <p>Mantenga su cuenta segura,</p>
  <p>Equipo de seguridad.</p>
</body>
</html>
