<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Our App</title>
</head>
<body>
  <h1>Hi {{name}}, welcome to Our App!</h1>
  <p>We're excited to have you. Start exploring by clicking the button below:</p>
  <a href="{{appUrl}}" style="padding: 10px; background-color: blue; color: white; text-decoration: none;">Get Started</a>
</body>
</html>
