<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a nuestra App</title>
</head>
<body>
  <h1>Hola {{fullname}}, Gracias por registrarte!</h1>
  <p>Nos alegra mucho tenerte. Empieza a explorar haciendo clic en el botón de abajo.:</p>
  <a href="{{appUrl}}">Empieza ahora</a>
</body>
</html>
